
#main,.main .card,#main .card .row{
    height: 91svh;
}
.searchuser{
    width: 503px !important;
}
.suggestedUser{
    position: absolute;
    top: 36px;
    width: 500px;
    left: 0px;
    background-color: #fff;
    z-index: 10;
    max-height: 240px;
    overflow-y: scroll;
}
.suggestedUser ul
{
    border-radius:0px;
    border: none; 
    background-color: transparent;
}
.suggestedUser ul li
{
    background-color: transparent;
}

.notifications{
    position: absolute;
    top: 40px;
    right: 0px;
    width: 350px;
    background-color: #fff;
    border: 1px solid rgb(182, 182, 182);
    border-radius: 0px;
    z-index: 4;
    max-height: 400px;
    height: 400px;
    overflow-y: scroll;
}
.notifications ul{
    border-radius:0px;
}
.friendRequest{
    position: relative;
    padding-right: 20px !important;
    width: fit-content;
}
.notificationBtn{
    width: fit-content;
    position: relative;
    padding-right: 20px !important;
}
#requestCount,#notificationCount{
    background-color: red;
    color: #fff;
    padding: 0px 4px;
    border-radius: 50%;
    font-size: 11px;
    position: absolute;
    top: 4px;
    right: 5px;
    animation: pulse 1s infinite;
}
@keyframes pulse {
    0% {
        box-shadow: 0 0 0 0px rgba(255, 0, 0, 0.2);
    }
    100% {
        box-shadow: 0 0 0 10px rgba(255, 0, 0, 0);
    }
}
#notificationUl li{
    cursor: pointer;
}
#notificationUl li.unread{
    background-color: #e7e7e7;
}
#notificationUl li:hover{
    background-color: #dfdfdf;
}
.time{
    color: grey;
    font-size: 11px;
    margin-left: 5px
}
.seen_indicator{
    position: absolute;
    right: -14px ;
    bottom: 0px
}.group_seen_indicator_container {
    display: flex;
    flex-direction: row;
    position: absolute;
    right: -14px;
    bottom: -10px;
}

.group_seen_indicator {
    margin-left: 2px;
}


::-webkit-scrollbar {
    width: 7px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #dfdfdf; 
    border-radius:10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #adadad; 
  }

.border-radius-0{
    border-radius: 0px !important;
}
#groups{
    height: 100%;
    overflow-y: scroll;
}

@media(max-width: 768px){
    .searchuser{
        width: 100% !important;
        margin-top: 10px;
    }
    .navbar-nav.ms-auto{
        flex-direction: row !important;
        justify-content: space-between;
    }
    .suggestedUser{
        top: 47px;
        width: 100%;
    }
    .real_notification{
        right: -83px !important;
    }
    #friendRequest{
        right: -115px;
    }
}